.login-container {
  width: 360px;
  margin: 40px auto;
  padding: 20px 32px;
  border-radius: 12px;
  background: #fff;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  box-shadow: 0 4px 12px rgba(0,0,0,0.12);
}

.login-container form{

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

}

h2 {
  margin: 0;
  font-size: 22px;
  color: #222;
  font-weight: 600;
}

.switch-text {
  font-size: 14px;
  color: #333;
}

.switch-text span {
  color: #007bff;
  cursor: pointer;
  font-weight: 600;
  margin-left: 4px;
}

.switch-text span:hover {
  text-decoration: underline;
}
